@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans+KR:wght@300;700&family=Unna&display=swap');
/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {text-decoration: inherit; color: inherit;}
li {list-style: none;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px; color: #000; line-height: 1.4;}
.wrap {width: 100%; margin: 0 auto; overflow: hidden;}
.en {font-family: 'Unna', serif;}
.en_1 {font-family: 'Maven Pro', sans-serif;}
.menu_wrap span {display: block;}
.menu_wrap span b {font-weight: normal;}

/* menuopen */
.menu_wrap {width: 100%; height: 100vh; position: fixed; background: #eee; top: 0; left: 0; z-index: 100; color: #000; padding: 160px 200px 0 450px; box-sizing: border-box; overflow: hidden;}
.menu_wrap .close {display: inline-block; position: absolute; top: 5px; left: 40px;}
.menu_wrap .close img {margin-right: 25px;}
/* menuopen .menu_wrap_left */
.menu_wrap .menu_wrap_left {float: left; width: 50%;}
.menu_wrap .menu_wrap_left .menu_title {margin-bottom: 50px;}
.menu_wrap .menu_wrap_left .menu_title li a {font-size: 44px; line-height: 1.5; letter-spacing: 2px; font-weight: normal;}
.menu_wrap .menu_wrap_right {float: left; width: 50%;}
.menu_wrap .menu_wrap_right .fam_site {font-size: 18px; line-height: 1.7; margin-bottom: 100px;}
.menu_wrap .menu_wrap_right .fam_site .familyweb {font-size: 15px; margin-bottom: 23px;}
.menu_wrap .menu_wrap_right .follow p {font-size: 15px; line-height: 1;}
.menu_wrap .menu_wrap_right .follow a {display: inline-block; margin-right: 25px; font-size: 24px;}

/* text animation */
.menu_wrap.on span {overflow: hidden;}
.menu_wrap.on span b {overflow: hidden; display: block; animation-name: text-ani; animation-duration: 1.4s;}
@keyframes text-ani {
    0% {opacity: 0;}
    40% {opacity: 0; transform: translateY(100px);}
}

/* 메인메뉴 타이밍 조절 */
.menu_wrap.on .menu_title li:nth-child(2) span b {animation-duration: 1.5s;}
.menu_wrap.on .menu_title li:nth-child(3) span b {animation-duration: 1.6s;}
.menu_wrap.on .menu_title li:nth-child(4) span b {animation-duration: 1.7s;}
.menu_wrap.on .menu_title li:nth-child(5) span b {animation-duration: 1.8s;}
.menu_wrap.on .menu_title li:nth-child(6) span b {animation-duration: 1.9s;}

.menu_wrap {width: 0; transition: 0; overflow: hidden; opacity: 0; padding: 0;}
.menu_wrap.on {width: 100%; left: 0; transition: 0.5s; opacity: 1; padding: 160px 200px 0 450px ;}


/* header */
header {width: 100%; padding: 0 40px; box-sizing: border-box; height: 100px; line-height: 100px; color: #fff; z-index: 100; position: fixed; top: 0;}
header.on {background: rgba(96,77,62,0.3);}

header .menuopen {display: inline-block; position: absolute; top: 50%; transform: translateY(-50%); width: 40px; height: 16px; line-height: 100px; }
header .menuopen span {display: block; width: 100%; height: 1px; background:#fff; position: absolute; top: 0; left: 0;}
header .menuopen span.mid {top: 50%;}
header .menuopen span.bot {top: 100%;}
header .book {display: inline-block; float: left; margin-left: 70px; height: 100%; font-size: 25px;}
header .langs {float: left; margin-left: 200px; overflow: hidden; width: 150px;}
header .langs li {float: left; width: 50%;}
header .langs li:nth-child(1) {font-weight: bold;}
header .langs li:nth-child(2) {color: #ddd;}
header .langs li a {display: block; padding: 0 30px; box-sizing: border-box; text-transform: uppercase;}
header .right {float: right;}
header .right li {float: left; margin-right: 55px;}
header .right li:nth-child(2) {margin-right: 0;}
header .right li {letter-spacing: 1px;}
header .right li .logo {width: 150px; height: 100px;}
header .right li .logo a {display: block; width: 100%; height: 100%; position: relative;}
header .right li .logo a img {position: absolute; left: 0; left: 0; top: 50%; transform: translateY(-50%); width: 100%;}
header .right li .logo  a img:nth-child(2) {opacity: 0;}

/* visual */
.visual {color: #fff;}
.visual .slide li {position: relative; width: 100%; height: 100vh;}
.visual .slide li img {position: absolute; right: 0; top: 0; width: 100%;}
.visual .slide .maintext {position: absolute; top: 35%; right: 18%; width: 30%;}
.visual .slide .maintext strong {display: block; font-size: 50px; margin-bottom: 30px; font-weight: 500; letter-spacing: 2px;} 
.visual .slide .maintext > p {font-size: 20px; font-weight: normal; line-height: 1.8; margin-bottom: 70px;}
.visual .slide .maintext .num {position: relative; font-size: 30px; font-weight: bold; margin-bottom: 30px;}
.visual .slide .maintext .num span {position: absolute; top: -10px; display: inline-block; padding: 10px 4px; opacity: 0;}
.visual .slide .maintext .message {font-size: 26px; line-height: 1.2;}

/* 비주얼 공통 하단 메뉴 */
.visual .menu {position: absolute; left: 4%; bottom: 7%; font-size: 21px; padding-bottom: 7px; overflow: hidden;}
.visual .menu:after {content: ''; width: 100%; height: 4px; background: #fff; position: absolute; left: 0; bottom: 0; animation: bar 4.5s infinite;}
@keyframes bar {
    0%{width: 0%;}
}
.visual .menu li {float: left; padding-right: 20px;}
.visual .menu li:nth-child(2) {padding-right: 130px;}
.visual .menu li:nth-child(3) {padding-right: 0;}
.visual .menu li span i {display: inline-block; margin-right: 10px; font-size: 18px;}
.visual .menu li:nth-child(2) span i {margin-right: 22px}
.visual .menu li p {font-size: 28px;}

/* animation */
@keyframes trans {
    0% {opacity: 0; transform: translateY(15px);}
    30% {opacity: 1; transform: translateY(0);}
    70% {opacity: 1; transform: translateY(0);}
    100% {opacity: 1; transform: translateY(-15px);}
}

.visual .slide .slick-active .maintext .num span {animation-name: trans; animation-duration: 4.5s;}

@keyframes opa {
    0% {opacity: 0;}
}
.visual .slide .slick-active .maintext strong {animation-name: opa; animation-duration: 2s;}
@keyframes slide-up {
    0% {opacity: 0;}
    20% {opacity: 0; transform: translateY(10px);}
}
.visual .slide .slick-active .maintext > p {animation-name: slide-up; animation-duration: 1.5s;}

@keyframes scaleani {
    0%{transform: scale(1.1);}
}
.visual .slide .slick-active img {animation-name: scaleani; animation-duration: 4.5s;}

/* section introduce */
.introduce {width: 88%; margin: 130px auto 0;}
.introduce .title {font-size: 32px; line-height: 1.6; margin-bottom: 100px;}
.introduce .roominfo {width: 100%; height: 884px; position: relative;}
.introduce .roominfo .tab {width: 380px; text-transform: uppercase; margin-bottom: 40px; overflow: hidden;}
.introduce .roominfo .tab li {float: left; width: 40%; margin-right: 3%;}
.introduce .roominfo .tab li:nth-child(2) {margin-right: 0;}
.introduce .roominfo .tab li a {display: block; width:100%; height: 100%; font-size: 16px;}
.introduce .roominfo .tab li.on {color: #a68164;}

/*  */
.introduce .roominfo .tab li a span {display: inline-block; position: relative; padding: 5px 0; box-sizing: border-box;}
.introduce .roominfo .tab li a span:after {content: ''; position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background-color: #a68164; transition: all 0.5s;}
.introduce .roominfo .tab li a span:hover:after {width: 100%;}

/* introduce tabbox */
.introduce .roominfo .tabBox {width: 100%; position: absolute; left: 0; top: 11%; display: none;}
.introduce .roominfo .tabBox.on {display: block;}
.introduce .roominfo .tabBox .deluxe {overflow: hidden; width: 100%;}
.introduce .roominfo .tabBox .deluxe .photo {float: left; width: 60%; position: relative;}
.introduce .roominfo .tabBox .deluxe .photo img {width: 100%;}
.introduce .roominfo .tabBox .deluxe .photo .showBox {width: 25%; position: absolute; left: 8%; bottom: 18%; color: #fff; letter-spacing: 1.5px;}
.introduce .roominfo .tabBox .deluxe .photo .showBox .name {padding-bottom: 15px; box-sizing: border-box; border-bottom: 1px solid rgba(235,235,235,0.33); margin-bottom: 10px; position: relative;}
.introduce .roominfo .tabBox .deluxe .photo .showBox .name:after {content: ''; width: 100%; height: 1px; background: #fff; position: absolute; left: 0; bottom: 0; animation: bar 4.4s;}
.introduce .roominfo .tabBox .deluxe .photo .showBox .btn {letter-spacing: 1px; margin-bottom: 10px;}


.introduce .roominfo .tabBox .deluxe .txtinfo {float: right; width: 40%; text-align: center;margin-top: 100px;}
.introduce .roominfo .tabBox .deluxe .txtinfo .titlebox {margin-bottom: 50px;}
.introduce .roominfo .tabBox .deluxe .txtinfo .titlebox h3 {font-size: 35px; font-weight: normal; letter-spacing: 1px; margin-bottom: 30px;}
.introduce .roominfo .tabBox .deluxe .txtinfo .titlebox p {font-size: 17px; color: #604d3e;}
.introduce .roominfo .tabBox .deluxe .txtinfo .inner_detail li {margin-bottom: 50px;}
.introduce .roominfo .tabBox .deluxe .txtinfo .inner_detail li span {display: block; margin-bottom: 20px; color: #a68164;}
.introduce .roominfo .tabBox .deluxe .txtinfo .inner_detail li p {font-size: 17px;}

/* introduce motion */
@keyframes slide-up2 {
    0%{opacity: 0;}
    20%{opacity: 0; transform: translateY(40px);}
}
.introduce .title.motion {animation-name: slide-up2; animation-duration: 1.2s;}
.introduce .roominfo.motion {animation-name: slide-up2; animation-duration: 0.8s;}
.introduce .roominfo.motion .tabBox .deluxe .photo .showBox .name {animation-name: slide-up2; animation-duration: 2s;}
.introduce .roominfo.motion .tabBox .deluxe .txtinfo .titlebox h3 {animation-name: slide-up2; animation-duration: 1.4s;}
.introduce .roominfo.motion .tabBox .deluxe .txtinfo .titlebox p {animation-name: slide-up2; animation-duration: 1.4s;}
.introduce .roominfo.motion .tabBox .deluxe .txtinfo .inner_detail li {animation-name: slide-up2; animation-duration: 2s;}
.introduce .roominfo.motion .tabBox .deluxe .txtinfo .inner_detail li:nth-child(2) {animation-name: slide-up2; animation-duration: 2.2s;}
.introduce .roominfo.motion .tabBox .deluxe .txtinfo .inner_detail li:nth-child(3) {animation-name: slide-up2; animation-duration: 2.4s;}

/* section offer */
.offer {width: 87%; margin: 200px auto 80px;}
.offer h2 {font-size: 30px; line-height: 1.7; font-weight: 500; margin-bottom: 15px;}
.offer .findBtn {display: block; font-size: 15px; color: #a68164; margin-bottom: 35px;}
.offer .new {width: 100%; overflow: hidden;}
.offer .new li {float: left; width: 21%; margin-right: 3%;}
.offer .new li:nth-child(4) {margin-right: 0;}
.offer .new li p.img {width: 100%; margin-bottom: 35px; overflow: hidden;}
.offer .new li p.img a {display: block; width: 100%; height: 100%;}
.offer .new li p.img a:hover img {transform: scale(1.2); transition: all 0.5s;}
.offer .new li p.img a img {width: 100%; transition: all 0.3s;}
.offer .new li span {display: block; margin-bottom: 20px;}
.offer .new li h3 {font-size: 17px; letter-spacing: -1px; font-weight: 500; margin-bottom: 15px;}
.offer .new li .hashtag {font-size: 15px; letter-spacing: -1px; color: #a68164; height: 100px;}
.offer .new li > a {display: inline-block; font-size: 15px; padding: 5px 0; color: #a68164; position: relative;}
.offer .new li > a:after {content: ''; width: 0; height: 1px; position: absolute; background: #a68164; transition: all 0.5s;}
.offer .new li > a:hover:after {width:100%; left: 0; bottom: 0;}

/* section intro_dining */
.intro_dining {width: 100%; overflow: hidden; background: #d7cdc5;}
.intro_dining .slide2 {float: left; width: 50%;}
.intro_dining .slide2 li {width: 100%; position: relative;}
.intro_dining .slide2 li img {width: 100%;}
.intro_dining .slide2 .slide_txt {position: absolute; left: 8%; bottom: 19%; color: #fff;}
.intro_dining .slide2 .slide_txt h3 {font-size: 35px; font-weight: normal; letter-spacing: 3px; margin-bottom: 30px;}
.intro_dining .slide2 .slide_txt p {font-size: 18px; line-height: 1.7; margin-bottom: 45px;}
.intro_dining .slide2 .slide_txt a {display: block; width: 150px; background: #a68164; padding: 12px 20px; text-align: center; position: relative; z-index: 1;}
.intro_dining .slide2 li .slide_txt a:after {content: ''; width: 100%; height: 0; position: absolute; left: 0; top: 0; background: #604d3e;}
.intro_dining .slide2 li .slide_txt a:hover:after {height: 100%; transition: height 0.5s ease; z-index: -1;}

.intro_dining .intro_diningtxt {float: left; width: 50%; padding: 80px 0 0 80px; box-sizing: border-box;}
.intro_dining .intro_diningtxt h3 {font-size: 25px; font-weight: 500; line-height: 1.7; margin-bottom: 440px;}
.intro_dining .intro_diningtxt p {font-size: 15px; color: #a68164; line-height: 1.6;}

/* intro_dining .slick-active */
.intro_dining .slide2 .slick-active .slide_txt h3 {animation-name: slide-up2; animation-duration: 0.6s;}
.intro_dining .slide2 .slick-active .slide_txt p {animation-name: slide-up2; animation-duration: 1.0s;}
.intro_dining .slide2 .slick-active .slide_txt a {animation-name: slide-up2; animation-duration: 1.2s;}
.intro_dining .intro_diningtxt.motion h3 {animation-name: slide-up2; animation-duration: 2s;}

/* section greetings */
.greetings {width: 100%; text-align: center; margin: 100px 0 100px;}
.greetings h2 {font-size: 17px; font-weight:normal; color: #a68164; margin-bottom: 60px;}
.greetings h3 {font-size: 32px; line-height: 1.6; font-weight: normal; margin-bottom: 50px;}
.greetings a {display: block; width: 150px; margin: auto; text-align: center; border: 1px solid #a68164; padding: 12px 20px;}

/* section news_notice */
.news_notice {width: 100%; border-top: 1px solid #d3cdb7; overflow: hidden;}
.news_notice .title_wrap {width: 7%; height: 395px; float: left; border-right: 1px solid #e3dbd7; box-sizing: border-box; position: relative;}
.news_notice .title_wrap .inner {position: absolute; font-size: 20px; text-align: center; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
.news_notice .title_wrap .inner .news_title {transform: rotate(-90deg); width: 200px;}
.news_notice .title_wrap .inner .news_title a {display: block; color: #604d3e; font-size: 16px;}
.news_notice .notice_list {width: 90%; float: left; padding-top: 98px; overflow: hidden;}
.news_notice .notice_list li {float: left; width: 33.3333%; padding-right: 50px; box-sizing: border-box;}
.news_notice .notice_list li .data {display: block; text-align: right; font-size: 38px;}
.news_notice .notice_list li .textbox {width: 80%; float: right;}
.news_notice .notice_list li .textbox strong {display: block; font-size: 18px; font-weight: 500; color: #1d212a; margin-bottom: 50px;}
.news_notice .notice_list li .textbox .list_txt {font-size: 14px; color: #604d3e; height: 115px;}
.news_notice .notice_list li .textbox a.more {display: block; width: 80px; font-size: 15px; padding: 5px 0; position: relative; margin-bottom: 50px; color: #a68164;}
.news_notice .notice_list li .textbox a.more:after {content: ''; width: 0; height: 1px; background: #a68164; position: absolute; left: 0; bottom: 0; transition: all 0.5s;}
.news_notice .notice_list li .textbox a.more:hover:after {width: 100%;}

/* motion */
.news_notice .notice_list.motion li {animation-name: slide-up2; animation-duration: 0.8s;}
.news_notice .notice_list.motion li:nth-child(2){animation-duration: 1s;}
.news_notice .notice_list.motion li:nth-child(3){animation-duration: 1.2s;}
.news_notice .notice_list.motion li:nth-child(4){animation-duration: 1.4s;}

/* section club_banner */
.club_banner {width: 100%; background: url(hotel/club.jpg)no-repeat center/cover;}
.club_banner .inner {width: 78%; margin: auto; padding: 200px 0; text-align: center; color: #fff;}
.club_banner .inner h3 {font-size: 38px; font-weight: normal; margin-bottom: 50px;}
.club_banner .inner a.more_1 {display: block; font-size: 15px; padding: 5px 0;width: 80px; margin: auto; position: relative;}
.club_banner .inner a.more_1:after {content: ''; width: 0; background: #a68164; height: 1px; position: absolute; bottom: 0; left: 0; transition: all 0.5s;}
.club_banner .inner a.more_1:hover:after {width: 100%;}

/* motion */
.club_banner .inner.motion h3{animation-name: slide-up2; animation-duration: 0.8s;}
.club_banner .inner.motion a.more_1{animation-name: slide-up2; animation-duration: 1s;}

/* footer */
footer {width: 100%; background: #161e27;}
footer .footer_inner {width: 87%; margin: auto; padding: 80px 0; color: #fff; overflow: hidden; position: relative;}
footer .footer_inner .logo {float: left; width: 16%;}
footer .footer_inner .contact_area {float: left; width: 68%;}
footer .footer_inner .contact_area li {float: left; width: 18%;}
footer .footer_inner .contact_area li:nth-child(1) {width: 34% ;}
footer .footer_inner .contact_area li:nth-child(3) {width: 24% ;}
footer .footer_inner .contact_area li p {margin-bottom: 5px;}
footer .footer_inner .contact_area li p a {font-size: 14px;}
footer .footer_inner .contact_area li p.address {font-size: 18px;}
footer .footer_inner .contact_area li p span {display: inline-block; margin-right: 10px;}
footer .footer_inner .contact_area li p.mail,footer .footer_inner .contact_area li p.tel {letter-spacing: 1px;}
footer .footer_inner .footer_right {float: right; width: 16%;}
footer .footer_inner .footer_right .icon li {float: right; padding-left: 40px; box-sizing: border-box;}
footer .footer_inner .footer_right .icon li:nth-child(3) {padding-left: 0;}
footer .footer_inner .footer_right .icon li:nth-child(3) img {width: 70%;}
footer .footer_inner .footer_right .icon li a {font-size: 20px;}
footer .footer_inner .footer_right .fam_site_wrap {width: 170px; position: absolute; right: 0; bottom: 30px; font-size: 13px;}
footer .footer_inner .footer_right .fam_site_wrap .txt_wrap .txt_wrap {width: 100%; height: 33px; margin-bottom: 10px;}
footer .footer_inner .footer_right .fam_site_wrap .txt_wrap .btn_fam {display:block; width: 100%; padding: 5px 15px 5px 20px; box-sizing: border-box; text-align: left; background: #161e27; color: #fff; border: 1px solid rgba(255,255,255,0.1); border-radius: 3px; cursor: pointer; margin-bottom: 20px;}
footer .footer_inner .footer_right .fam_site_wrap .txt_wrap .btn_fam .btn_fam_title {margin-right: 55px;}

footer .footer_inner .footer_right .fam_site_wrap .item_wrap {display:none; width: 100%; height: 156px;padding: 18px 20px 16px; box-sizing: border-box; position: absolute; left: 0; bottom: 58px; background: #fff; overflow: scroll;}
footer .footer_inner .footer_right .fam_site_wrap .item_wrap a {display: block; width: 100%; padding: 6px; box-sizing: border-box; transition: 0.4s color ease; color:#1d212a;}
footer .footer_inner .footer_right .fam_site_wrap .copyright {font-size: 11px; color: #888;}